#my_name{
    font-size: 6.5rem;
}

.rounded-1 {
    border-radius: 2.5rem !important
}

.icon-link {
    color: #FFF
}

p.paragraph{
    text-indent: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
}

ul.paragraph{
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
}

.md-font {
    font-size: 1.25rem;
}

.text-indent-1 {
    text-indent: 1rem;
}

.text-indent-2 {
    text-indent: 1.5rem;
}

.text-indent-3 {
    text-indent: 2rem;
}

.link-disabled{
    color: currentColor;
    opacity: 0.5;
    cursor: not-allowed;
}

.border-bottom-thick {
    border-bottom: 5px solid;
}

html {
  overflow-y: scroll;
}

.table_content_button {
    width: 100%;
    /*background-color: white!important;*/
}